.header {
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;

    background-color: var(--my-black);
}

.left-section {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 20px;
}

.business-logo {
    height:130px;
    width: 150px;
    margin-left: 60px;
}

.middle-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.link {
    font-size: 24px;
    color: var(--text-normal);
}

